fieldset {
  border: 1px solid #BFBFBF;
  padding: 8px; }

.aui-fieldset {
  border-width: 0;
  padding: 0;
  position: relative; }

.aui-dialog-iframe-popup .aui-fieldset {
  margin-bottom: 0; }

.aui-fieldset .aui-field-content, .aui-field-row, .aui-button-holder, .aui-field-wrapper-content {
  margin: 10px 0; }

.aui-field-inline .aui-field-content, .aui-field-row .aui-field-content {
  margin: 0;
  margin-right: 5px; }

.aui-search-bar .aui-field-content {
  margin-right: 0; }
.aui-search-bar .aui-field-content, .aui-search-bar .aui-button-content {
  display: inline-block;
  vertical-align: middle; }

.aui-field-choice .aui-field-label {
  display: inline-block; }

.aui-field-date .aui-field-content {
  overflow: hidden; }

.aui-text-placeholder {
  color: #777; }

legend {
  font-weight: bold;
  padding: 0 6px; }

.aui-fieldset-legend {
  color: #000;
  font-size: 120%;
  font-weight: bold;
  padding: 0 0 1.5em; }

.aui-legend {
  border-bottom: 1px solid #CCC;
  display: block;
  position: absolute;
  width: 90%; }

input {
  background: #FFF; }

input[type="text"], input[type="password"], input[type="file"], input[type="submit"], input[type="button"], input[type="reset"], select, textarea, .textarea, button {
  background-image: url(../images/forms/input_shadow.png);
  background-repeat: no-repeat;
  border: 1px solid;
  border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
  font: 1em Arial, Helvetica, Verdana, sans-serif;
  padding: 5px 1px; }

select {
  padding: 1px; }

input[type="image"] {
  background: transparent none;
  border: none;
  padding: 0; }

input[type="submit"], input[type="button"], input[type="reset"], button {
  /*background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;*/
  background: #333333;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: normal;
  overflow: visible;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  border: none; }
  input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover {
    /*background: #B9CED9 url(../images/application/state_hover_bg.png) repeat-x 0 0;*/
    background: #A9A9A9;
    color: #333333; }
  input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus, button:focus {
    /*	background: #EBEBEB url(../images/application/state_active_bg.png) repeat-x 0 0;
    	border-color: #555;*/ }

input.focus, textarea.focus {
  background: #FFC none;
  border: 1px solid #FC0; }

.lfr-actions.lfr-extended, .lfr-actions.lfr-extended ul {
  /*background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;*/
  background: #333333;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: normal;
  overflow: visible;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  border: none;
  padding: 0; }
.lfr-actions.lfr-extended:focus, .lfr-actions.lfr-extended:focus ul {
  /*	background: #EBEBEB url(../images/application/state_active_bg.png) repeat-x 0 0;
  	border-color: #555;*/ }
.lfr-actions.lfr-extended.disabled, .lfr-actions.lfr-extended.disabled ul, .lfr-actions.lfr-extended.disabled:hover, .lfr-actions.lfr-extended.disabled:hover ul {
  /*background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;*/
  background: #333333;
  color: #555;
  opacity: 0.5; }
.lfr-actions.lfr-extended:hover, .lfr-actions.lfr-extended:hover ul {
  /*background: #B9CED9 url(../images/application/state_hover_bg.png) repeat-x 0 0;*/
  background: #A9A9A9;
  color: #333333; }

.lfr-actions.disabled .taglib-text {
  color: #A9A9A9; }

.aui-button-disabled input[type], .aui-button-disabled input[type]:hover, .aui-button-disabled input[type]:focus, .aui-button-disabled button, .aui-button-disabled button:hover, .aui-button-disabled button:focus {
  /*background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;*/
  background: #333333;
  color: #555;
  opacity: 0.5; }

.aui-buttonitem-disabled {
  /*background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;*/
  background: #333333;
  color: #555;
  opacity: 0.5; }

input.aui-form-validator-error, textarea.aui-form-validator-error, select.aui-form-validator-error {
  border-color: #900;
  border-style: dotted; }

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */
.ie fieldset {
  padding-top: 0; }
.ie .aui-button-disabled input {
  -ms-filter: alpha(opacity=50);
  filter: alpha(opacity=50); }

.ie7 .aui-fieldset {
  zoom: 1; }

.ie6 input.text, .ie6 input.password, .ie6 input.submit, .ie6 input.file, .ie6 input.button, .ie6 button {
  background-image: url(../images/forms/input_shadow.png);
  background-repeat: no-repeat;
  border: 1px solid;
  border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
  font: 1em Arial, Helvetica, Verdana, sans-serif;
  padding: 5px 1px; }
.ie6 input.submit, .ie6 input.button, .ie6 button, .ie6 .aui-button-disabled input.submit, .ie6 .aui-button-disabled input.button, .ie6 .aui-button-disabled button {
  /*background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;*/
  background: #333333;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: normal;
  overflow: visible;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  border: none; }
.ie6 .aui-button-disabled input.submit, .ie6 .aui-button-disabled input.button, .ie6 .aui-button-disabled button {
  color: #555; }
.ie6 input.focus, .ie6 textarea.focus {
  background: #FFC none;
  border: 1px solid #FC0; }

