<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="Regression1">
    <groups>
    	<run>
      	<include name="sanity"/>   
      	<include name="abstract"/>      
  	</run>
  	</groups>
    <classes>
      <class name="com.selng.wgen.tests.LoginTest"/>
    </classes>
  </test>
</suite>

