<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.test.MyServlet</servlet-class>
                <servlet-class>
            com.liferay.portal.kernel.servlet.PortalDelegateServlet
        </servlet-class>
        <init-param>
            <param-name>servlet-class</param-name>
            <param-value>com.test.MyServlet</param-value>
        </init-param>
        <init-param>
            <param-name>sub-context</param-name>
            <param-value>MyServlet</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
</web-app>