.em;
}

.portlet-configuration .validation {
	clear: left;
}

.portlet-configuration .label-name .aui-field-wrapper-content {
	margin-top: 0;
}

.portlet-configuration .label-name input, .portlet-configuration .options input {
	width: 200px;
}
