
<style type="text/css">
#footer {
	text-align: left;
	padding-top:5px;
	padding-bottom:0px;
	position:fixed;
	bottom:0;
}
#footer .footer_wrap{
	width:980px;
	margin:0 auto;
	border-top:#E5E5E5 solid 2px;
	background:#FFFFFF;
}

#footer .footer_wrap p{
	margin:0;
}

#footer a{
	color:#CCCCCC;
}
</style>
<footer id="sli_footer">
 <div class="sli_footer_wrap"> $footer</div>
</footer>