<script language="javascript" src="https://testlr1.slidev.org/wgen-portlet/js/jquery.js"></script>
<script language="javascript" src="https://testlr1.slidev.org/wgen-portlet/js/modal.popup.js"></script>
<script language="javascript">

    $(document).ready(function showPopup_new() {
            
		//Change these values to style your modal popup
		var align = 'center';									//Valid values; left, right, center
		var top = 160; 											//Use an integer (in pixels)
		var width = 715; 										//Use an integer (in pixels)
		var padding = 10;										//Use an integer (in pixels)
		var backgroundColor = '#FFFFFF'; 						//Use any hex code
		var source = '/portal/web/guest/report-a-problem'; 								//Refer to any page on your server, external pages are not valid e.g. http://www.google.co.uk
		var borderColor = '#666666'; 							//Use any hex code
		var borderWeight = 1; 									//Use an integer (in pixels)
		var borderRadius = 0; 									//Use an integer (in pixels)
		var fadeOutTime = 300; 									//Use any integer, 0 = no fade
		var disableColor = '#FFF'; 							//Use any hex code
		var disableOpacity = 60; 								//Valid range 0-100
		var loadingImage = 'lib/release-0.0.1/loading.gif';		//Use relative path from this page
			
		//This method initialises the modal popup
        $(".modal").click(function() {
            modalPopup(align, top, width, padding, disableColor, disableOpacity, backgroundColor, borderColor, borderWeight, borderRadius, fadeOutTime, source, loadingImage);
        });
		
		//This method hides the popup when the escape key is pressed
		$(document).keyup(function(e) {
			if (e.keyCode == 27) {
				closePopup(fadeOutTime);
			}
		});
		
    });
	
	
	
</script>
<style type="text/css">

.div_main {
	width : auto;
	min-height:30px;
}

.logo_main, .header_right {
    float: left;
    width: 50%;
    margin:5px 0 0
}
.header_right ul {
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    margin: 12px 0 0;
    padding: 0;
}
.header_right ul li {
    float: left;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}
.header_right ul li a {
    color: #FFFFFF;
    text-decoration: none;
}
.header_right ul li {
    border-right: 1px solid #8F8F8F;
}
.header_right ul li.username {
    color: #2CC2E2;
}
.header_right ul li.login {
    border-right: medium none;
}
.outerModalPopupDiv{
-moz-box-shadow: 0 0 20px #888;
-webkit-box-shadow: 0 0 20px#888;
box-shadow: 0 0 20px #888;
}

#banner {
    background: none repeat scroll 0 0 #333333;
    height: auto;
    padding: 0;
}

#banner #heading {
    margin: 0 auto;
    width: 980px;
}

/*dd menu*/

ul.menu_n {list-style:none; margin:0; padding:0;color: #FFFFFF;float: right;font-size: 14px; margin-top:3px;}
ul.menu_n * {margin:0; padding:0}
ul.menu_n a {display:block; color:#000; text-decoration:none;padding-right:15px; padding-left:5px;}
ul.menu_n li {position:relative; float:left; padding-right:10px; padding-left:2px;}
ul.menu_n ul {
position:absolute;
top:20px; display:none; 
list-style:none; 
background:url("/WgenWSClient/images/custom/menu_arrow1.png") top no-repeat;
border:none;
width:162px;
font-size: 14px;
padding-top:10px;

-webkit-box-shadow: 0px 10px 9px rgba(50, 50, 50, 0.26);
-moz-box-shadow:    0px 10px 9px rgba(50, 50, 50, 0.26);
box-shadow:         0px 10px 9px rgba(50, 50, 50, 0.26);

-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
z-index:200;
display:none;
right:0;
}


ul.menu_n li:hover ul{
	display:block;
}


ul.menu_n ul li {
	
	position:relative;
	margin:0;
	border:solid 1px #C5C5C5; 
	padding:0; 
	border-top:none;
	float:none;
	background:#FFFFFF;
	border-bottom:none;
}
ul.menu_n ul li a {display:block; padding:5px 10px 5px; color:#55556A;}
ul.menu_n ul li a:hover { background:#CCCCCC; color:#000035;}
ul.menu_n ul ul {left:148px; top:-1px}
ul.menu_n .menulink { color: #FFFFFF;}
ul.menu_n .menulink:hover, ul.menu_n .menuhover {}

ul.menu_n .first_item{
	border:none;
}

ul.menu_n .last_item{
	border:none;
	border-left:#FFFFFF solid 1px;
}
ul.menu_n a.menulink{
	background:url("/WgenWSClient/images/custom/arrow_w.png") no-repeat right center;
} 

ul.menu_n .first_item ul{
	
}

ul.menu_n ul li.last{
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
/*dd_menu end*/


#content_main {
    margin: 5px auto 0;
    width: 980px;
}
.logo_main a {
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    text-decoration: none;
}
</style>

<div id="banner">
	<div id="heading">

$header
    </div>
</div>