 
 
<style type="text/css">
body{
	margin:0;
	padding:0;	
	font-family: Arial, Helvetica, sans-serif;
}
.div_main {
	width : auto;
	min-height:30px;
}
.div_wgen {
	width : auto;
	min-height:30px;
}
.sli_logo_main, .header_right {
    float: left;
    width: 50%;
    margin:5px 0 0
}
.header_right ul {
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    margin: 12px 0 0;
    padding: 0;
}
.header_right ul li {
    float: left;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}
.header_right ul li a {
    color: #FFFFFF;
    text-decoration: none;
}
.header_right ul li {
    border-right: 1px solid #8F8F8F;
}
.header_right ul li.username {
    color: #2CC2E2;
}
.header_right ul li.login {
    border-right: medium none;
}
.outerModalPopupDiv{
-moz-box-shadow: 0 0 20px #888;
-webkit-box-shadow: 0 0 20px#888;
box-shadow: 0 0 20px #888;
}

#sli_banner {
	background: #333333;
	height: auto;
	padding:0;
}

#sli_banner #sli_heading{
	margin: 0 auto;
	width:980px;
}

#sli_banner .company-title {
	float: none;
	margin: 0px 0 0;
	position: static;
}

#sli_banner #navigation{
	margin: 0 auto;
	width:980px;
}

#sli_banner .portlet-column-content{
	padding-top:2px;
	padding-bottom:2px;
}

#sli_banner .portlet-borderless-container{
	min-height:1.5em;
}
/*#WSbanner {
    background: none repeat scroll 0 0 #333333;
    height: 30px;
    padding: 0;
}

#WSbanner #heading {
    margin: 0 auto;
    width: 980px;
	font-family: Arial, Helvetica, sans-serif;
}*/

 /*dd menu*/

ul.menu_n {list-style:none; margin:0; padding:0;color: #FFFFFF;float: right;font-size: 14px; margin-top:7px;}
ul.menu_n * {margin:0; padding:0}
ul.menu_n a {display:block; color:#000; text-decoration:none;padding-right:15px; padding-left:5px;}
ul.menu_n li {position:relative; float:left; padding-right:10px; padding-left:2px;}
ul.menu_n ul {
position:absolute;
top:28px; display:none; 
list-style:none; 
background:url($menu_arrow1) top no-repeat;
border:none;
width:162px;
font-size: 14px;
padding-top:10px;

-webkit-box-shadow: 0px 10px 9px rgba(50, 50, 50, 0.26);
-moz-box-shadow:    0px 10px 9px rgba(50, 50, 50, 0.26);
box-shadow:         0px 10px 9px rgba(50, 50, 50, 0.26);

-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
z-index:200;
display:none;
right:0;
}




ul.menu_n ul li {
	
	position:relative;
	margin:0;
	border:solid 1px #C5C5C5; 
	padding:0; 
	border-top:none;
	float:none;
	background:#FFFFFF;
	border-bottom:none;
}
ul.menu_n ul li a {display:block; padding:5px 10px 5px; color:#55556A;}
ul.menu_n ul li a:hover { background:#CCCCCC; color:#000035;}
ul.menu_n ul ul {left:148px; top:-1px}
ul.menu_n .menulink { color: #999999;}

ul.menu_n .show { color: #FFFFFF;}

ul.menu_n .menulink:hover, ul.menu_n .menuhover {}

ul.menu_n .first_item{
	border:none;
}

ul.menu_n .last_item{
	border:none;
	border-left:#999999 solid 1px;
}
ul.menu_n a.menulink{
	background:url($arrow) no-repeat right center;
	line-height:14px;
} 
ul.menu_n a.show, ul.menu_n .menulink:hover{
	background:url($arrow_w) no-repeat right center;
	color: #FFFFFF;
} 
ul.menu_n .first_item ul{
	
}

ul.menu_n ul li.last{
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
ul.menu_n li.last a.menulink, ul.menu_n li.last_item a.menulink{
	background : none;
}

/*dd_menu end*/
#content_main {
    margin: 5px auto 0;
    width: 980px;
}
.sli_logo_main a {
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    text-decoration: none;
}

</style>

<div id="sli_banner">
	<div id="sli_heading">

$header
    </div>
</div>